
:root{
    --btn-text-color:rgb(183, 186, 189);
    --display-text-color: #fff;
    --btn-font-size: 1.3rem;

    --border-color: #8b9da95b;

    --background-primary-color:#ddd6f3;
    --background-secondary-color:#faaca8;
}


html{
    height: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--background-primary-color),var(--background-secondary-color))
}

.container {
    max-width: 320px;
    -webkit-box-shadow: 0px 0px 24px 9px #faaca855;
    -moz-box-shadow: 0px 0px 24px 9px #faaca855;
    box-shadow: 0px 0px 24px 9px #faaca855;
}

.inputs{
    display: flex;    
    flex-wrap: wrap;
    border: 1px solid rgba(255, 255, 255, .5);
}

.btn
{
    flex-basis: 25%;
    aspect-ratio: 1/1;
    color: var(--btn-text-color);
    font-size: var(--btn-font-size);
    border: 1px solid var(--border-color);
    background-color: rgb(39, 36, 36);
    mix-blend-mode: overlay;
}

.text-lg{
    font-size: 1.6em !important;

}

.display{
    width: 100%;
    text-align: right;
    color: var(--display-text-color);
    font-size: 3.5rem;
    box-sizing: border-box; 
    padding-right: .5rem;
    border: 1px solid var(--border-color);
    border-bottom: none;
}

.btn:not([disabled]):hover{
    mix-blend-mode: soft-light;
}
.btn:not([disabled]):active{
    mix-blend-mode: color-dodge;
}